[submodule "lib/SynEdit"]
	path = lib/SynEdit
	url = https://github.com/TurboPack/SynEdit.git
	branch = master
[submodule "lib/VirtualTreeView"]
	path = lib/VirtualTreeView
	url = https://github.com/Virtual-TreeView/Virtual-TreeView.git

	
	
