BIN/gpprof.drc
BIN/gpprof.exe
BIN/gpprof.map
*.~dsk
tests/Win32/Debug/*.*
*.identcache
*.rsmres
*.res
*.bak
*.bk1
*.stat
*.dcu
DCU64/
bin64/*.exe
BIN/*exe
bin64/*.prf
BIN/*prf
bin64/*.map
BIN/*.map
*.dproj.local
**/__history
/source/__recovery/__recovery.ini
/source/__recovery/gppMain.dfm
/source/__recovery/gppMain.pas
/source/VirtualTree.Tools/__recovery/__recovery.ini
/source/VirtualTree.Tools/__recovery/virtualTree.tools.statistics.pas
*.dsk
*.bk2
/gpprof_2017*
