BIN/gpprof.drc
BIN/gpprof.exe
BIN/gpprof.map
*.~dsk
tests/Win32/Debug/*.*
*.identcache
*.rsmres
*.res
*.bak
*.bk1
*.stat
*.dcu
DCU64/
bin64/*.exe
BIN/*exe
bin64/*.prf
BIN/*prf
bin64/*.map
BIN/*.map
*.dproj.local
**/__history
