#include "ezdslcts.pas"

STRINGTABLE
BEGIN
  escTooManyItems,   "Container has maximum number of items already"
  escInsInvalidHere, "Cannot insert at this node"
  escDelInvalidHere, "Cannot delete this node"
  escInsertDup,      "Tried to insert duplicate data but container allows no duplicates"
  escCannotMoveHere, "Tried to move outside the container's boundary"
  escNoCompare,      "No Compare function has been supplied"
  escNoDupData,      "No DupData function has been supplied"
  escNoDisposeData,  "No DisposeData function has been supplied"
  escBadSource,      "Incompatible source for Clone operation"
  escIndexError,     "Collection: Index out of range"
  escBadCaseSwitch,  "Unknown switch item in case statement - should *not* happen"
  escKeyNotFound,    "Hash table: Could not find key to delete"
  escTableFull,      "Hash table: Table is full, cannot insert new element"
  escSortNeedsCmp,   "Container is sorted, hence Compare function cannot be nil"
  escCmpNeeded,      "Container has no Compare function, hence it cannot be sorted"
  escBadBooleanInx,  "Index for boolean in array is out of range"

  ascFreeNilNode,    "Attempt to free a nil Node"
  ascNewNodeSize0,   "Attempt to allocate node of zero size"
  ascFreeNodeSize0,  "Attempt to free node of zero size"
  ascEmptyExamine,   "The container is empty, cannot examine node"
  ascEmptyPop,       "Cannot pop from an empty stack or queue"
  ascDeleteEdges,    "Cannot delete from list's BeforeFirst or AfterLast positions"
  ascExamineEdges,   "Cannot examine data at list's BeforeFirst or AfterLast positions"
  ascInsertEdges,    "Cannot InsertBefore at list's BeforeFirst position, or InsertAfter at AfterLast"
  ascReplaceEdges,   "Cannot replace at list's BeforeFirst or AfterLast positions"
  ascAlreadyAtEnd,   "Already at AfterLast position, Next has no effect"
  ascAlreadyAtStart, "Already at BeforeFirst position, Prev has no effect"
  ascCannotJoinHere, "Cannot join another container here"
  ascCannotJoinData, "Cannot join a data owner to a non-data owner container, and vice versa"
  ascSplitEdges,     "Cannot split a list at its BeforeFirst or AfterLast positions"
  ascoutOfRange,     "Index is out of the range 0 to (Count-1)"
  ascExamineLeaf,    "Cannot examine the data in a leaf, it's a nil pointer"
  ascBadSkipLevel,   "The skip level is not between 1 and skMaxLevels"
  ascIsSortedList,   "This method cannot be used with a sorted list"
  ascIsNotSortedList,"This method cannot be used with an unsorted list"
  ascBadCapacity,    "The new capacity for the boolean array is less than zero"
  ascNilArray,       "Cannot OR, AND or XOR a nil boolean array"
  ascNotSameSize,    "Cannot OR, AND or XOR a boolean array with a different capacity"

END

