MAINICON ICON "gpprof_Icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION      1, 4, 1, 0
PRODUCTVERSION   1, 4, 1, 0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS  0
FILEOS   VFT_APP
FILESUBTYPE  VFT2_UNKNOWN
BEGIN
  BLOCK "VerFileInfo"
  BEGIN
   Value "TRANSLATION", 0x0409, 1252
  END
  BLOCK "STRINGFILEINFO"
  BEGIN
    BLOCK "040904E4"
    BEGIN
     VALUE "FileDescription", "Performance Profiler for Delphi \0"
     VALUE "FileVersion", "1.4.1.3 \0"
     VALUE "InternalName", "GpProfile \0"
     VALUE "LegalCopyright", "(c) 1998, 1999 Primoz Gabrijelcic \0"
     VALUE "LegalTrademarks", " \0"
     VALUE "OriginalFileName", " \0"
     VALUE "ProductName", "GpProfile \0"
     VALUE "ProductVersion", "1.4.1.3 \0"
    END
  END
END
